.header {
  width: 100%;
  height: 72px;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 22px; }
  .header__container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .header__logo-image {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background: #C8C8C8;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      font-family: 'Poppins';
      font-family: 'Rammetto One';
      text-transform: uppercase;
      margin-right: 20px; }
    .header__logo-text {
      font-size: 22px;
      color: #717784;
      font-weight: 500;
      font-family: 'Poppins'; }
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0; }
    .header__link-item {
      list-style-type: none; }
    .header__link-name {
      text-decoration: none;
      font-size: 18px;
      color: #717784;
      font-weight: 500;
      font-family: 'Poppins';
      margin-right: 50px;
      transition: .5s;
      text-transform: capitalize; }
      .header__link-name:hover {
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        font-family: 'Poppins';
        transition: .5s; }

.button {
  width: 234px;
  height: 60px;
  background: transparent;
  border: 2px solid #9B9BCA;
  border-radius: 10px;
  font-size: 18px;
  color: #717784;
  font-weight: 500;
  font-family: 'Poppins';
  text-transform: capitalize;
  transition: .5s; }
  .button:hover {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins';
    background: #9B9BCA;
    transition: .5s; }

#menu {
  display: none; }

.menu {
  display: none;
  overflow: hidden; }
  .menu__container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 2; }
  .menu__logo {
    width: 72px;
    height: 72px;
    position: absolute;
    background: transparent;
    top: 22px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2; }
    .menu__logo-line {
      width: 50px;
      height: 3px;
      background: #9B9BCA;
      position: relative;
      transition: .5s; }
      .menu__logo-line::before {
        content: '';
        width: 50px;
        height: 3px;
        background: #9B9BCA;
        position: absolute;
        bottom: 15px;
        transition: .5s; }
      .menu__logo-line::after {
        content: '';
        width: 50px;
        height: 3px;
        background: #9B9BCA;
        position: absolute;
        top: 15px;
        transition: .5s; }
  .menu__links {
    width: 0;
    height: 100vh;
    background: #C8C8C8;
    opacity: 0.95;
    transition: .5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    left: 100%; }
    .menu__links-item {
      text-decoration: none;
      font-size: 24px;
      color: #717784;
      font-weight: 500;
      font-family: 'Poppins';
      transition: .5s;
      text-transform: capitalize;
      padding-bottom: 25px; }
      .menu__links-item:first-child {
        padding-top: 25px; }

#menu:checked ~ .menu__logo > .menu__logo-line {
  background: transparent;
  transition: .5s; }

#menu:checked ~ .menu__logo > .menu__logo-line::before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: .5s; }

#menu:checked ~ .menu__logo > .menu__logo-line::after {
  top: 0;
  transform: rotate(45deg);
  transition: .5s; }

#menu:checked ~ .menu__links {
  width: 100%;
  transition: 1s;
  overflow: scroll;
  left: 0; }

.banner {
  width: 100%;
  height: 737px;
  background-image: url(../image/banner-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 95px; }
  .banner__container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding-top: 94px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
  .banner__info {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; }
  .banner__title {
    font-size: 56px;
    color: #696A86;
    font-weight: 400;
    font-family: 'Poppins';
    font-family: 'DM Serif Display', 'Serif';
    margin-bottom: 30px; }
  .banner__subtitle {
    font-size: 18px;
    color: #696A86;
    font-weight: 400;
    font-family: 'Poppins';
    margin-bottom: 30px; }

.title__container {
  max-width: 746px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .title__container--left {
    align-items: flex-start; }

.title__title {
  font-size: 26px;
  color: #626780;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  margin-bottom: 12px; }
  .title__title--left {
    text-align: start; }

.title__subtitle {
  font-size: 18px;
  color: #626780;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center; }
  .title__subtitle--left {
    text-align: start; }

.service__container {
  max-width: 1140px;
  width: 100%;
  margin: 130px auto 190px auto; }

.service__card {
  max-width: 250px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  transition: .5s; }
  .service__card-title {
    font-size: 22px;
    color: #626780;
    font-weight: 500;
    font-family: 'Poppins';
    text-align: center;
    margin: 20px 0 12px 0; }
  .service__card-subtitle {
    font-size: 16px;
    color: #626780;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center; }
  .service__card:hover {
    border: 2px solid #9D9D9D;
    border-radius: 5px;
    transition: .5s; }

.people__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto 180px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.people__text {
  max-width: 495px;
  width: 100%; }

.people__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.titlePT__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

.titlePT__text {
  max-width: 550px;
  width: 100%;
  font-size: 48px;
  color: #402B2B;
  font-weight: 400;
  font-family: 'Poppins';
  font-family: 'PT Serif', serif; }

.video {
  max-width: 1140px;
  margin: 50px auto 0 auto; }
  .video__container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 150px; }

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0; }

.questions {
  position: relative;
  overflow: hidden; }
  .questions__container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;
    box-sizing: border-box; }
  .questions__circle {
    width: 1030px;
    height: 1030px;
    border-radius: 50%;
    background: rgba(245, 245, 255, 0.8);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1; }
  .questions__image {
    position: absolute;
    top: 80px; }

.question {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative; }
  .question__wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column; }
  .question__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 550px;
    width: 100%;
    height: 90px;
    padding: 0 35px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 20px 40px #F5F5FF;
    border-radius: 23px;
    transition: .5s; }
    .question__container:hover {
      box-shadow: 0 5px 10px #E0E0E0; }
    .question__container:hover ~ .question__answer {
      height: 80px;
      transition: .5s; }
    .question__container:active ~ .question__answer {
      height: 80px;
      transition: .5s; }
    .question__container:hover > .question__logo > .question__logo-close {
      transform: rotate(90deg);
      transition: .5s; }
  .question__logo-close {
    transition: .5s; }
  .question__text {
    font-size: 18px;
    color: #402B2B;
    font-weight: 400;
    font-family: 'Poppins';
    max-width: 390px;
    width: 100%; }
  .question__answer {
    max-width: 550px;
    width: 100%;
    padding: 0 35px;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #F5F5FF;
    box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
    font-size: 18px;
    color: #402B2B;
    font-weight: 400;
    font-family: 'Poppins';
    position: absolute;
    top: 90px;
    z-index: 2; }

.button-load__container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 100px auto 100px auto; }

.button-load__item {
  max-width: 550px;
  width: 100%;
  height: 90px;
  border: 2px solid #9B9BCA;
  border-radius: 10px;
  background: transparent;
  font-size: 18px;
  color: #9B9BCA;
  font-weight: 500;
  font-family: 'Poppins';
  text-transform: uppercase;
  transition: .5s; }
  .button-load__item:hover {
    background: #9B9BCA;
    color: #FFFFFF;
    transition: .5s; }

.feature {
  position: relative;
  margin-bottom: 200px;
  overflow: hidden; }
  .feature__background {
    width: 1030px;
    height: 1030px;
    border-radius: 50%;
    background: #FFEDEF;
    position: absolute;
    right: 60%;
    top: 150px;
    z-index: -1; }
    .feature__background-image {
      position: absolute;
      left: 454px;
      top: 500px; }
  .feature__circle-large {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: #FFEDEF;
    position: absolute;
    right: -250px;
    bottom: -215px; }
    .feature__circle-large--top {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: #FFEDEF;
      position: absolute;
      right: -200px;
      bottom: 280px; }
  .feature__circle-medium {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFEDEF;
    position: absolute;
    right: -100px;
    bottom: -130px; }
    .feature__circle-medium--top {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #FFEDEF;
      position: absolute;
      right: -60px;
      bottom: 230px; }
  .feature__circle-small {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #FFEDEF;
    position: absolute;
    right: 20px;
    bottom: -80px; }
    .feature__circle-small--top {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #FFEDEF;
      position: absolute;
      right: 20px;
      bottom: 140px; }
  .feature__wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; }
  .feature__container {
    max-width: 1140px;
    width: 100%;
    margin: 150px auto 200px auto; }
  .feature__card {
    max-width: 442px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box; }
  .feature__image {
    object-fit: cover;
    max-width: 339px;
    width: 100%;
    height: auto; }
  .feature__title {
    font-size: 26px;
    color: #000000;
    font-weight: 500;
    font-family: 'Poppins';
    margin: 50px auto 20px auto; }
  .feature__subtitle {
    font-size: 18px;
    color: #626780;
    font-weight: 400;
    font-family: 'Poppins';
    margin: 0 48px 80px 48px;
    text-align: center; }
  .feature__button {
    position: relative;
    top: 30px;
    max-width: 234px;
    width: 100%;
    height: 60px;
    border: 2px solid #9595C9;
    background: #fff;
    border-radius: 10px;
    transition: .5s;
    font-size: 18px;
    color: #9595C9;
    font-weight: 500;
    font-family: 'Poppins'; }
    .feature__button:hover {
      background: #9595C9;
      transition: .5s;
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      font-family: 'Poppins'; }
  .feature .review__container {
    max-width: 488px;
    width: 100%;
    margin: 100px auto 100px auto;
    height: 375px;
    background: #fff;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative; }
  .feature .review__text {
    max-width: 360px;
    width: 100%;
    padding: 60px 0 5px 30px;
    box-sizing: border-box;
    font-size: 18px;
    color: #9D9D9D;
    font-weight: 400;
    font-family: 'Poppins'; }
  .feature .review__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-left: 30px; }
    .feature .review__user-image {
      width: 98px;
      height: 98px; }
    .feature .review__user-name {
      font-size: 18px;
      color: #626780;
      font-weight: 500;
      font-family: 'Poppins';
      margin-left: 50px; }
    .feature .review__user-raiting {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 50px;
      box-sizing: border-box; }
  .feature .review__raiting-text {
    font-size: 16px;
    color: #9D9D9D;
    font-weight: 400;
    font-family: 'Poppins'; }
  .feature .review__raiting-star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; }
  .feature .review__star-text {
    font-size: 12px;
    color: #9D9D9D;
    font-weight: 400;
    font-family: 'Poppins'; }

.review__arrow {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 160px;
  right: 13px; }

.enter__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto 130px auto; }

.enter__card {
  max-width: 708px;
  width: 100%;
  height: 566px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.enter__form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.enter__title {
  font-size: 16px;
  color: #626780;
  font-weight: 400;
  font-family: 'Poppins';
  margin-bottom: 10px; }

.enter__input {
  max-width: 400px;
  width: 100%;
  height: 60px;
  padding: 11px 0 11px 40px;
  box-sizing: border-box;
  margin-bottom: 30px;
  box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
  border-radius: 10px;
  background: #FFFFFF;
  border: 2px solid #9595C9;
  font-size: 18px;
  color: #626780;
  font-weight: 500;
  font-family: 'Poppins'; }
  .enter__input:focus {
    outline: #9595C9; }

.enter__button {
  max-width: 260px;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  border: 2px solid #9595C9;
  border-radius: 5px;
  background: #FFFFFF;
  font-size: 16px;
  color: #9595C9;
  font-weight: 500;
  font-family: 'Poppins';
  text-transform: uppercase;
  transition: .5s; }
  .enter__button:hover {
    background: #9595C9;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Poppins';
    text-transform: uppercase;
    transition: .5s; }

.enter__text-item {
  font-size: 19px;
  color: #626780;
  font-weight: 500;
  font-family: 'Poppins'; }

.enter__link {
  text-decoration: none;
  margin-left: 5px;
  transition: .5s; }
  .enter__link:hover {
    color: red;
    transition: .5s; }

.footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .footer__background {
    width: 2240px;
    height: 2240px;
    border-radius: 50%;
    background: #9B9BCA;
    position: absolute;
    top: 0;
    z-index: -1; }
  .footer__container {
    max-width: 1140px;
    width: 100%;
    padding-top: 170px;
    box-sizing: border-box; }
  .footer__links-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; }
  .footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
  .footer__title {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 12px; }
  .footer__link {
    font-size: 16px;
    color: #E5E5E5;
    font-weight: 400;
    font-family: 'Poppins';
    transition: .5s;
    text-decoration: none; }
    .footer__link:hover {
      color: #FFFFFF;
      transition: .5s; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 50px; }
  .footer__copyright-text {
    font-size: 16px;
    color: #E5E5E5;
    font-weight: 400;
    font-family: 'Poppins'; }
  .footer__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .footer__social-item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 31px; }
    .footer__social-item:last-child {
      margin-right: 123px; }
  .footer__logo-item {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    font-family: 'Rammetto One'; }
  .footer__logo-text {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins'; }

@media screen and (max-width: 991px) {
  .header__links {
    display: none; }
  .menu {
    display: block; }
  .banner {
    height: 100%;
    margin-bottom: 50px; }
    .banner__info {
      margin: 50px auto 50px auto; }
  .title__title--left {
    text-align: center; }
  .title__subtitle--left {
    text-align: center; }
  .service__container {
    margin: 50px auto 50px auto; }
  .service__card {
    margin-bottom: 20px; }
  .people__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px; }
  .people__image {
    margin-top: 50px; }
  .video__container {
    margin-bottom: 50px; }
  .questions__container {
    padding-top: 50px; }
    .questions__container--flex-bottom {
      margin-top: 0; }
  .questions__image {
    display: none; }
  .question {
    align-items: center; }
  .button-load__container {
    margin: 50px auto 50px auto; }
  .feature {
    margin-bottom: 50px; }
    .feature__container {
      margin: 50px auto 70px auto; }
    .feature__background-image {
      display: none; }
    .feature .review__container {
      margin: 50px auto 50px auto; }
  .enter__container {
    margin: 50px 0 50px 0; }
  .enter__card {
    height: 100%;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box; }
  .footer__container {
    padding-top: 50px; }
  .footer__info {
    margin: 50px 0 30px 0; } }

@media screen and (max-width: 767px) {
  .footer__info {
    flex-direction: column-reverse; }
  .footer__copyright {
    margin-top: 20px; } }

@media screen and (max-width: 575px) {
  .banner {
    height: 100%;
    margin-bottom: 20px; }
    .banner__info {
      margin: 20px auto 20px auto;
      align-items: center; }
    .banner__title {
      text-align: center; }
    .banner__subtitle {
      text-align: center; }
  .service__container {
    margin: 20px auto 20px auto; }
  .people__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; }
  .people__image {
    margin-top: 20px; }
  .video__container {
    margin-bottom: 20px; }
  .questions__container {
    padding-top: 20px; }
  .question {
    align-items: center; }
  .button-load__container {
    margin: 20px auto 20px auto; }
  .feature {
    margin-bottom: 20px; }
    .feature__container {
      margin: 20px auto 40px auto; }
    .feature .review__container {
      margin: 20px auto 20px auto; }
    .feature .review__arrow {
      display: none; }
    .feature .review__text {
      padding: 20px 0 5px 5px; }
    .feature .review__user {
      margin-left: 5px; }
  .enter__container {
    margin: 20px 0 20px 0; }
  .enter__card {
    height: 100%;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box; }
  .footer__container {
    padding-top: 10px; }
  .footer__links-container {
    justify-content: flex-start; }
  .footer__text {
    flex-direction: column; }
  .footer__social {
    margin-bottom: 10px; }
    .footer__social-item:last-child {
      margin-right: 0; }
  .footer__copyright {
    margin-top: 10px; }
  .footer__info {
    margin: 20px 0 20px 0; } }
