@import './mixins.scss';

.header {
    width: 100%;
    height: 72px;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 22px;

    &__container {
        max-width: 1140px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background: transparent;
        @include flex(space-between);
    }

    &__logo {
        @include flex;

        &-image {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background: #C8C8C8;
            @include flex;
            @include font(20px, #fff, 400);
            font-family: 'Rammetto One';
            text-transform: uppercase;
            margin-right: 20px;
        }

        &-text {
            @include font(22px, #717784, 500);
        }
    }

    &__links {
        @include flex;
    }

    &__link {
        @include flex;
        margin: 0;

        &-item {
            list-style-type: none;
        }

        &-name {
            text-decoration: none;
            @include font(18px, #717784, 500);
            margin-right: 50px;
            transition: .5s;
            text-transform: capitalize;

            &:hover {
                @include font(18px, #fff, 500);
                transition: .5s;
            }
        }
    }
}

.button {
    width: 234px;
    height: 60px;
    background: transparent;
    border: 2px solid #9B9BCA;
    border-radius: 10px;
    @include font(18px, #717784, 500);
    text-transform: capitalize;
    transition: .5s;

    &:hover {
        @include font(18px, #fff, 500);
        background: #9B9BCA;
        transition: .5s;
    }
}

//menu

#menu {
    display: none;
}

.menu {
    display: none;
    overflow: hidden;
    
    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 2;
    }

    &__logo {
        width: 72px;
        height: 72px;
        position: absolute;
        background: transparent;
        top: 22px;
        right: 0;
        @include flex;
        z-index: 2;

        &-line {
            width: 50px;
            height: 3px;
            background: #9B9BCA;
            position: relative;
            transition: .5s;

            &::before {
                content: '';
                width: 50px;
                height: 3px;
                background: #9B9BCA;
                position: absolute;
                bottom: 15px;
                transition: .5s;
            }

            &::after {
                content: '';
                width: 50px;
                height: 3px;
                background: #9B9BCA;
                position: absolute;
                top: 15px;
                transition: .5s;
            }
        }
    }

    &__links {
        width: 0;
        height: 100vh;
        background: #C8C8C8;
        opacity: 0.95;
        transition: .5s;
        @include flex(flex-start, center, column);
        overflow: hidden;
        position: absolute;
        left: 100%;
        
        &-item {
            text-decoration: none;
            @include font(24px, #717784, 500);
            margin-right: 58px;
            transition: .5s;
            text-transform: capitalize;
            padding-bottom: 25px;

            &:first-child {
                padding-top: 25px;
            }
        }
    }
}

#menu:checked~.menu__logo>.menu__logo-line {
    background: transparent;
    transition: .5s;
}

#menu:checked~.menu__logo>.menu__logo-line::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: .5s;
}

#menu:checked~.menu__logo>.menu__logo-line::after {
    top: 0;
    transform: rotate(45deg);
    transition: .5s;
}

#menu:checked~.menu__links {
    width: 100%;
    transition: 1s;
    overflow: scroll;
    left: 0;
}

//banner

.banner {
    width: 100%;
    height: 737px;
    background-image: url(../image/banner-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 95px;

    &__container {
        max-width: 1140px;
        width: 100%;
        height: 100%;
        margin: 0 auto 0 auto;
        padding-top: 94px;
        box-sizing: border-box;
        @include flex(flex-start, center, row);
    }

    &__info {
        width: 750px;
        @include flex(center, flex-start, column);
    }

    &__title {
        @include font(56px, #696A86, 400);
        font-family: 'DM Serif Display', 'Serif';
        margin-bottom: 30px;
    }

    &__subtitle {
        @include font(18px, #696A86, 400);
        margin-bottom: 30px;
    }
}

//title

.title {

    &__container {
        max-width: 746px;
        width: 100%;
        margin: 0 auto;
        @include flex(center, center, column);

        &--left {
            align-items: flex-start;
        }
    }

    &__title {
        @include font(26px, #626780, 500);
        text-align: center;
        margin-bottom: 12px;

        &--left {
            text-align: start;
        }
    }

    &__subtitle {
        @include font(18px, #626780, 400);
        text-align: center;
        
        &--left {
            text-align: start;
        }
    }
}

//cards

.service {

    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 130px auto 190px auto;
    }

    &__card {
        max-width: 250px;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        @include flex(center, center, column);
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        transition: .5s;

        &-title {
            @include font(22px, #626780, 500);
            text-align: center;
            margin: 20px 0 12px 0;
        }

        &-subtitle {
            @include font(16px, #626780, 400);
            text-align: center;
        }

        &:hover {
            border: 2px solid #9D9D9D;
            border-radius: 5px;
            transition: .5s;
        }
    }
}

//people

.people {

    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto 180px auto;
        @include flex(space-between, center, row);
    }

    &__text {
        max-width: 495px;
        width: 100%;
    }

    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//titlePT

.titlePT {

    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }

    &__text {
        max-width: 550px;
        width: 100%;
        @include font(48px, #402B2B, 400);
        font-family: 'PT Serif', serif;
    }
}

.video {
    max-width: 1140px;
    margin: 50px auto 0 auto;

    &__container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 150px;
    }
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

//questions 

.questions {
    position: relative;
    overflow: hidden;

    &__container {
        max-width: 1140px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 200px;
        box-sizing: border-box;
    }

    &__circle {
        width: 1030px;
        height: 1030px;
        border-radius: 50%;
        background: rgba(245, 245, 255, 0.8);
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
    }

    &__image {
        position: absolute;
        top: 80px;
    }
}

.question {
    @include flex(center, flex-start, column);
    margin-bottom: 12px;
    position: relative;

    &__wrapper {
        height: 100%;
        @include flex(flex-end, stretch, column);
    }

    &__container {
        @include flex(space-between, center, row);
        max-width: 550px;
        width: 100%;
        height: 90px;
        padding: 0 35px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0 20px 40px #F5F5FF;
        border-radius: 23px;
        transition: .5s;

        &:hover {
            box-shadow: 0 5px 10px #E0E0E0;
        }

        &:hover~.question__answer {
            height: 80px;
            transition: .5s;
        }

        &:active~.question__answer {
            height: 80px;
            transition: .5s;
        }

        &:hover>.question__logo>.question__logo-close {
            transform: rotate(90deg);
            transition: .5s;
        }
    }

    &__logo-close {
        transition: .5s;
    }

    &__text {
        @include font(18px, #402B2B, 400);
        max-width: 390px;
        width: 100%;
    }

    &__answer {
        max-width: 550px;
        width: 100%;
        padding: 0 35px;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        transition: .5s;
        @include flex;
        background: #F5F5FF;
        box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
        @include font(18px, #402B2B, 400);
        position: absolute;
        top: 90px;
        z-index: 2;
    }
}

//button-load

.button-load {

    &__container {
        max-width: 1140px;
        width: 100%;
        @include flex;
        margin: 100px auto 100px auto;
    }

    &__item {
        max-width: 550px;
        width: 100%;
        height: 90px;
        border: 2px solid #9B9BCA;
        border-radius: 10px;
        background: transparent;
        @include font(18px, #9B9BCA, 500);
        text-transform: uppercase;
        transition: .5s;

        &:hover {
            background: #9B9BCA;
            color: #FFFFFF;
            transition: .5s;
        }
    }
}

//feature

.feature {
    position: relative;
    margin-bottom: 200px;
    overflow: hidden;

    &__background {
        width: 1030px;
        height: 1030px;
        border-radius: 50%;
        background: #FFEDEF;
        position: absolute;
        right: 60%;
        top: 150px;
        z-index: -1;

        &-image {
            position: absolute;
            left: 454px;
            top: 500px;
        }
    }

    &__circle-large {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: #FFEDEF;
        position: absolute;
        right: -250px;
        bottom: -215px;

        &--top {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            background: #FFEDEF;
            position: absolute;
            right: -200px;
            bottom: 280px;
        }
    }

    &__circle-medium {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #FFEDEF;
        position: absolute;
        right: -100px;
        bottom: -130px;

        &--top {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: #FFEDEF;
            position: absolute;
            right: -60px;
            bottom: 230px;
        }
    }

    &__circle-small {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: #FFEDEF;
        position: absolute;
        right: 20px;
        bottom: -80px;

        &--top {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: #FFEDEF;
            position: absolute;
            right: 20px;
            bottom: 140px;
        }
    }

    &__wrapper {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }

    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 150px auto 200px auto;
    }

    &__card {
        max-width: 442px;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
        background: #fff;
        border-radius: 10px;
        @include flex(center, center, column);
        box-sizing: border-box;
    }

    &__image {
        object-fit: cover;
        max-width: 339px;
        width: 100%;
        height: auto;
    }

    &__title {
        @include font(26px, #000000, 500);
        margin: 50px auto 20px auto;
    }

    &__subtitle {
        @include font(18px, #626780, 400);
        margin: 0 48px 80px 48px;
        text-align: center;
    }

    &__button {
        position: relative;
        top: 30px;
        max-width: 234px;
        width: 100%;
        height: 60px;
        border: 2px solid #9595C9;
        background: #fff;
        border-radius: 10px;
        transition: .5s;
        @include font(18px, #9595C9, 500);

        &:hover {
            background: #9595C9;
            transition: .5s;
            @include font(18px, #fff, 500);
        }
    }

    .review {

        &__container {
            max-width: 488px;
            width: 100%;
            margin: 100px auto 100px auto;
            height: 375px;
            background: #fff;
            box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
            border-radius: 10px;
            @include flex(center, flex-start, column);
            position: relative;
        }

        &__text {
            max-width: 360px;
            width: 100%;
            padding: 60px 0 5px 30px;
            box-sizing: border-box;
            @include font(18px, #9D9D9D, 400);
        }

        &__user {
            @include flex(flex-start, center, row);
            margin-left: 30px;

            &-image {
                width: 98px;
                height: 98px;
            }

            &-name {
                @include font(18px, #626780, 500);
                margin-left: 50px;
            }

            &-raiting {
                @include flex(center, flex-start, column);
                padding-left: 50px;
                box-sizing: border-box;
            }
        }

        &__raiting-text {
            @include font(16px, #9D9D9D, 400);
        }

        &__raiting-star {
            @include flex(flex-start, center, row);
        }

        &__star-text {
            @include font(12px, #9D9D9D, 400);
        }
    }
}

.review__arrow {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #EEEEEE;
    @include flex;
    position: absolute;
    top: 160px;
    right: 13px;
}

//enter

.enter {

    &__container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto 130px auto;
    }

    &__card {
        max-width: 708px;
        width: 100%;
        height: 566px;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
        border-radius: 10px;
        @include flex(center, center, column);
    }

    &__form {
        @include flex(flex-start, flex-start, column);
    }

    &__title {
        @include font(16px, #626780, 400);
        margin-bottom: 10px;
    }

    &__input {
        max-width: 400px;
        width: 100%;
        height: 60px;
        padding: 11px 0 11px 40px;
        box-sizing: border-box;
        margin-bottom: 30px;
        box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
        border-radius: 10px;
        background: #FFFFFF;
        border: 2px solid #9595C9;
        @include font(18px, #626780, 500);

        &:focus {
            outline: #9595C9;
        }
    }

    &__button {
        max-width: 260px;
        width: 100%;
        height: 60px;
        margin-bottom: 30px;
        border: 2px solid #9595C9;
        border-radius: 5px;
        background: #FFFFFF;
        @include font(16px, #9595C9, 500);
        text-transform: uppercase;
        transition: .5s;

        &:hover {
            background: #9595C9;
            @include font(16px, #FFFFFF, 500);
            text-transform: uppercase;
            transition: .5s;
        }
    }

    &__text-item {
        @include font(19px, #626780, 500);
    }

    &__link {
        text-decoration: none;
        margin-left: 5px;
        transition: .5s;
        
        &:hover {
            color: red;
            transition: .5s;
        }
    }
}

//footer

.footer {
    position: relative;
    overflow: hidden;
    @include flex;

    &__background {
        width: 2240px;
        height: 2240px;
        border-radius: 50%;
        background: #9B9BCA;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &__container {
        max-width: 1140px;
        width: 100%;
        padding-top: 170px;
        box-sizing: border-box;
    }

    &__links-container {
        @include flex(center, flex-start, row);
    }

    &__links {
        @include flex(flex-start, flex-start, column);
    }

    &__title {
        @include font(20px, #FFFFFF, 500);
        margin-bottom: 12px;
    }

    &__link {
        @include font (16px, #E5E5E5, 400);
        transition: .5s;
        text-decoration: none;

        &:hover {
            color: #FFFFFF;
            transition: .5s;
        }
    }

    &__info {
        @include flex(space-between, center, row);
        margin-top: 80px;
        margin-bottom: 50px;
    }

    &__copyright-text {
        @include font(16px, #E5E5E5, 400);
    }

    &__text {
        @include flex(space-between, center, row);
    }

    &__social {
        @include flex;
    }

    &__social-item {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #FFFFFF;
        @include flex;
        margin-right: 31px;

        &:last-child {
            margin-right: 123px;
        }
    }

    &__logo-item {
        @include font(20px, #fff, 400);
        font-family: 'Rammetto One';
    }

    &__logo-text {
        @include font(22px, #fff, 500);
    }
}

//adaptive

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    .header {

        &__links {
            display: none;
        }
    }

    .menu {
        display: block;
    }

    .banner {
        height: 100%;
        margin-bottom: 50px;
        
        &__info {
            margin: 50px auto 50px auto;
        }
    }

    .title {

        &__title--left {
            text-align: center;
        }

        &__subtitle--left {
            text-align: center;
        }
    }

    .service {

        &__container {
            margin: 50px auto 50px auto;
        }

        &__card {
            margin-bottom: 20px;
        }
    }

    .people {

        &__container {
            @include flex(center, center, column);
            margin-bottom: 50px;
        }

        &__image {
            margin-top: 50px;
        }
    }

    .video {

        &__container {
        margin-bottom: 50px;
        }
    }

    .questions {

        &__container {
            padding-top: 50px;

            &--flex-bottom {
                margin-top: 0;
            }
        }
    }

    .question {
        align-items: center;
    }

    .button-load {

        &__container {
            margin: 50px auto 50px auto;
        }
    }

    .feature {
        margin-bottom: 50px;

        &__container {
            margin: 50px auto 70px auto;
        }
    }

    .review {

        &__container {
            margin: 50px auto 50px auto;
        }
    }

    .enter {

        &__container {
            margin-bottom: 50px;
        }
    }

    .footer {

        &__container {
            padding-top: 50px;
        }

        &__info {
            margin: 50px 0 30px 0;
        }
    }
}

// @media screen and (max-width: 767px) {
//     .header {

//         &__links {
//             display: none;
//         }
//     }

//     .menu {
//         display: block;
//     }

//     .banner {
        

//         &__info {
//             align-items: center;
//         }

//         &__title, &__subtitle {
//             text-align: center;
//         }
//     }
//     .title {

//         &__title--left {
//             text-align: center;
//         }

//         &__subtitle--left {
//             text-align: center;
//         }
//     }

//     .service {

//         &__container {
//             margin: 20px auto 20px auto;
//         }
//     }

//     .feature {

//         &__container {
//             margin: 50px auto 50px auto;
//         }
//     }
// }

// @media screen and (max-width: 575px) {
//     .header {

//         &__links {
//             display: none;
//         }
//     }

//     .banner {
//         height: 100%;

//         &__container {
            
//         }

//         &__info {
//             align-items: center;
//             padding: 20px 0 20px 0;
//         }

//         &__title {
//             text-align: center;
//             font-size: 46px;
//         }

//         &__subtitle {
//             text-align: center;
//         }
//     }

//     .title {

//         &__title--left {
//             text-align: center;
//         }

//         &__subtitle--left {
//             text-align: center;
//         }
//     }

//     .menu {
//         display: block;
//     }

//     .service {

//         &__container {
//             margin: 20px auto 20px auto;
//         }
//     }

//     .questions {
    
//         &__container {
//             padding-top: 20px;
//         }

//         &__image {
//             display: none;
//         }
//     }

//     .button-load {

//         &__container {
//             margin: 20px auto 20px auto;
//         }
//     }

//     .feature {
//         margin-bottom: 20px;

//         &__background {
//             overflow: hidden;
//         }

//         &__background-image {
//             display: none;
//         }
//     }

//     .review {

//         &__arrow {
//             display: none;
//         }
//     }

//     .enter {

//         &__container {
//             margin-bottom: 20px;
//         }
//     }

//     .footer {

//         &__links-container {
//             @include flex(flex-start, flex-start, row);
//             margin-bottom: 20px;
//         }

//         &__container {
//             padding-top: 20px;
//         }

//         &__info {
//             flex-wrap: wrap;
//             justify-content: center;
//             flex-direction: column-reverse;
//         }

//         &__text {
//             flex-wrap: wrap;
//             justify-content: center;
//         }

//         &__social-item:last-child {
//             margin-right: 0;
//         }

//         &__social {
//             margin: 10px 0 10px 0;
//         }
//     }
// }